<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SupabaseUrl" value="https://pwkmlqeubkgaxlykocgy.supabase.co" />
		<add key="SupabaseKey" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB3a21scWV1YmtnYXhseWtvY2d5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg2NjI3MDUsImV4cCI6MjA5NDIzODcwNX0.Dam0iTi6NsdaOeX7xBUzPWw0TSYpIomeo2-VeOJ8UMQ" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>